@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif; }

*, *::before, *::after {
  box-sizing: border-box;
  outline: 0; }

a {
  color: inherit;
  text-decoration: none; }

html, body {
  margin: 0;
  padding: 0; }

body {
  color: #272727;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #efefef; }

#wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-nav {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 16px 0px;
  min-width: 15vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14); }
  @media (max-width: 650px) {
    .page-nav {
      display: none; } }
  .page-nav h1 {
    display: block;
    padding: 8px 24px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px; }
  .page-nav hr {
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .page-nav ul {
    margin: 0;
    margin-top: 16px;
    padding: 0; }
  .page-nav ul li {
    display: block;
    list-style: none; }
  .page-nav ul li a {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 16px 24px;
    color: #272727;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease; }
    .page-nav ul li a:hover {
      color: #fff;
      background-color: #5C9DF5; }
  .page-nav ul li a span {
    display: none; }
  .page-nav .nav--active {
    color: #fff !important;
    background-color: #5C9DF5; }

.page-nav--mobile {
  display: none; }
  @media (max-width: 650px) {
    .page-nav--mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      position: fixed;
      top: initial;
      left: 0;
      bottom: 0;
      padding: 8px 0px !important;
      width: 100%;
      height: initial;
      z-index: 800;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.14); }
      .page-nav--mobile ul {
        margin: 0;
        padding: 0; }
      .page-nav--mobile ul ul {
        display: none;
        margin: 0;
        padding: 0; }
        .page-nav--mobile ul ul li {
          display: block; }
      .page-nav--mobile ul li:hover > ul {
        display: block;
        position: absolute;
        bottom: 10px;
        margin-left: -10px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14); }
      .page-nav--mobile ul li {
        display: inline-block;
        list-style: none; }
      .page-nav--mobile ul li a span {
        display: inline-block;
        margin-left: 8px;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      .page-nav--mobile ul li a {
        display: block;
        position: relative;
        padding: 8px 16px !important;
        color: #272727;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        -webkit-transition: all 0.1s ease16px;
                transition: all 0.1s ease16px; } }

.page-notification {
  display: block;
  position: fixed;
  left: 50%;
  bottom: -200px;
  margin: 0;
  padding: 16px;
  z-index: 999;
  background-color: #5C9DF5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  .page-notification p {
    color: #fff;
    font-size: 32px;
    font-weight: 300; }
    .page-notification p::before {
      margin-right: 8px; }

.page-content {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  display: block;
  position: relative;
  margin: 24px;
  padding: 24px;
  width: calc(100vw - 15vw);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 650px) {
    .page-content {
      margin-bottom: 96px; } }
  .page-content .page-city {
    display: inline-block;
    color: #272727;
    font-size: 24px; }
  .page-content .set-location {
    display: inline-block;
    position: relative;
    margin-left: 16px;
    padding: 8px 16px;
    color: #fff;
    background-color: #5790DB;
    -webkit-transition: all 0.15s ease;
            transition: all 0.15s ease; }
    .page-content .set-location:hover {
      background-color: #5C9DF5; }
  .page-content .set-location--disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.1); }
    .page-content .set-location--disabled:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .page-content .page-article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    position: relative;
    padding: 24px; }
    .page-content .page-article .article-card {
      display: block;
      margin: 8px;
      padding: 8px 16px;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      @media (max-width: 650px) {
        .page-content .page-article .article-card {
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%; } }

/*# sourceMappingURL=template.style.css.map */